In [10]:
import pandas as pd
import psycopg2
import sqlalchemy
import matplotlib as plt
import numpy as np
%matplotlib inline

In [11]:
conn = psycopg2.connect("dbname=sql_challenge user=postgres password=R31n33nj! host=localhost")

In [12]:
cur = conn.cursor()

In [15]:
#2. Create a histogram to visualize the most common salary ranges for employees.
cur.execute("SELECT * FROM salaries")
rows = cur.fetchall()
rows

[(10001, 60117, datetime.date(1986, 6, 26), datetime.date(1987, 6, 26)),
 (10002, 65828, datetime.date(1996, 8, 3), datetime.date(1997, 8, 3)),
 (10003, 40006, datetime.date(1995, 12, 3), datetime.date(1996, 12, 2)),
 (10004, 40054, datetime.date(1986, 12, 1), datetime.date(1987, 12, 1)),
 (10005, 78228, datetime.date(1989, 9, 12), datetime.date(1990, 9, 12)),
 (10006, 40000, datetime.date(1990, 8, 5), datetime.date(1991, 8, 5)),
 (10007, 56724, datetime.date(1989, 2, 10), datetime.date(1990, 2, 10)),
 (10008, 46671, datetime.date(1998, 3, 11), datetime.date(1999, 3, 11)),
 (10009, 60929, datetime.date(1985, 2, 18), datetime.date(1986, 2, 18)),
 (10010, 72488, datetime.date(1996, 11, 24), datetime.date(1997, 11, 24)),
 (10011, 42365, datetime.date(1990, 1, 22), datetime.date(1991, 1, 22)),
 (10012, 40000, datetime.date(1992, 12, 18), datetime.date(1993, 12, 18)),
 (10013, 40000, datetime.date(1985, 10, 20), datetime.date(1986, 10, 20)),
 (10014, 46168, datetime.date(1993, 12, 29), datetime.date(1994, 12, 29)),
 (10015, 40000, datetime.date(1992, 9, 19), datetime.date(1993, 8, 22)),
 (10016, 70889, datetime.date(1998, 2, 11), datetime.date(1999, 2, 11)),
 (10017, 71380, datetime.date(1993, 8, 3), datetime.date(1994, 8, 3)),
 (10018, 55881, datetime.date(1987, 4, 3), datetime.date(1988, 4, 2)),
 (10019, 44276, datetime.date(1999, 4, 30), datetime.date(2000, 4, 29)),
 (10020, 40000, datetime.date(1997, 12, 30), datetime.date(1998, 12, 30)),
 (10021, 55025, datetime.date(1988, 2, 10), datetime.date(1989, 2, 9)),
 (10022, 40000, datetime.date(1999, 9, 3), datetime.date(2000, 9, 2)),
 (10023, 47883, datetime.date(1999, 9, 27), datetime.date(2000, 9, 26)),
 (10024, 83733, datetime.date(1998, 6, 14), datetime.date(1999, 6, 14)),
 (10025, 40000, datetime.date(1987, 8, 17), datetime.date(1988, 8, 16)),
 (10026, 47585, datetime.date(1995, 3, 20), datetime.date(1996, 3, 19)),
 (10027, 40000, datetime.date(1995, 4, 2), datetime.date(1996, 4, 1)),
 (10028, 48859, datetime.date(1991, 10, 22), datetime.date(1992, 10, 21)),
 (10029, 63163, datetime.date(1991, 9, 18), datetime.date(1992, 9, 17)),
 (10030, 66956, datetime.date(1994, 2, 17), datetime.date(1995, 2, 17)),
 (10031, 40000, datetime.date(1991, 9, 1), datetime.date(1992, 8, 31)),
 (10032, 48426, datetime.date(1990, 6, 20), datetime.date(1991, 6, 20)),
 (10033, 51258, datetime.date(1987, 3, 18), datetime.date(1988, 3, 17)),
 (10034, 47561, datetime.date(1995, 4, 12), datetime.date(1996, 4, 11)),
 (10035, 41538, datetime.date(1988, 9, 5), datetime.date(1989, 9, 5)),
 (10036, 42819, datetime.date(1992, 4, 28), datetime.date(1993, 4, 28)),
 (10037, 40000, datetime.date(1990, 12, 5), datetime.date(1991, 12, 5)),
 (10038, 40000, datetime.date(1989, 9, 20), datetime.date(1990, 9, 20)),
 (10039, 40000, datetime.date(1988, 1, 19), datetime.date(1989, 1, 18)),
 (10040, 52153, datetime.date(1993, 2, 14), datetime.date(1994, 2, 14)),
 (10041, 56893, datetime.date(1989, 11, 12), datetime.date(1990, 11, 12)),
 (10042, 81662, datetime.date(1993, 3, 21), datetime.date(1994, 3, 21)),
 (10043, 49324, datetime.date(1990, 10, 20), datetime.date(1991, 10, 20)),
 (10044, 40919, datetime.date(1994, 5, 21), datetime.date(1995, 5, 21)),
 (10045, 41971, datetime.date(1996, 11, 16), datetime.date(1997, 11, 16)),
 (10046, 40000, datetime.date(1992, 6, 20), datetime.date(1993, 6, 20)),
 (10047, 54982, datetime.date(1989, 3, 31), datetime.date(1990, 3, 31)),
 (10048, 40000, datetime.date(1985, 2, 24), datetime.date(1986, 2, 24)),
 (10049, 40000, datetime.date(1992, 5, 4), datetime.date(1993, 5, 4)),
 (10050, 74366, datetime.date(1990, 12, 25), datetime.date(1991, 12, 25)),
 (10051, 48817, datetime.date(1992, 10, 15), datetime.date(1993, 10, 15)),
 (10052, 57212, datetime.date(1997, 1, 31), datetime.date(1998, 1, 31)),
 (10053, 67854, datetime.date(1994, 11, 13), datetime.date(1995, 11, 13)),
 (10054, 40000, datetime.date(1995, 7, 29), datetime.date(1996, 7, 28)),
 (10055, 80024, datetime.date(1992, 4, 27), datetime.date(1993, 4, 27)),
 (10056, 48857, datetime.date(1990, 2, 1), datetime.date(1991, 2, 1)),
 (10057, 49616, datetime.date(1992, 1, 15), datetime.date(1993, 1, 14)),
 (10058, 52787, datetime.date(1988, 4, 25), datetime.date(1989, 4, 25)),
 (10059, 71218, datetime.date(1991, 6, 26), datetime.date(1992, 6, 25)),
 (10060, 74686, datetime.date(1989, 5, 28), datetime.date(1990, 5, 28)),
 (10061, 68577, datetime.date(1989, 12, 2), datetime.date(1990, 12, 2)),
 (10062, 55685, datetime.date(1991, 8, 30), datetime.date(1992, 8, 29)),
 (10063, 40000, datetime.date(1989, 4, 8), datetime.date(1990, 4, 8)),
 (10064, 40000, datetime.date(1985, 11, 20), datetime.date(1986, 11, 20)),
 (10065, 40000, datetime.date(1998, 5, 24), datetime.date(1999, 5, 24)),
 (10066, 69736, datetime.date(1986, 2, 26), datetime.date(1987, 2, 26)),
 (10067, 44642, datetime.date(1987, 3, 4), datetime.date(1988, 3, 3)),
 (10068, 87964, datetime.date(1987, 8, 7), datetime.date(1988, 8, 6)),
 (10069, 67932, datetime.date(1992, 6, 14), datetime.date(1993, 6, 14)),
 (10070, 55999, datetime.date(1985, 10, 14), datetime.date(1986, 10, 14)),
 (10071, 40000, datetime.date(1995, 8, 5), datetime.date(1996, 8, 4)),
 (10072, 40000, datetime.date(1989, 5, 21), datetime.date(1990, 5, 21)),
 (10073, 56473, datetime.date(1998, 2, 2), datetime.date(1998, 2, 22)),
 (10074, 61714, datetime.date(1990, 8, 13), datetime.date(1991, 8, 13)),
 (10075, 43815, datetime.date(1988, 5, 17), datetime.date(1989, 5, 17)),
 (10076, 47319, datetime.date(1996, 7, 15), datetime.date(1997, 7, 15)),
 (10077, 40000, datetime.date(1994, 12, 23), datetime.date(1995, 12, 23)),
 (10078, 47280, datetime.date(1994, 9, 29), datetime.date(1995, 9, 29)),
 (10079, 53492, datetime.date(1995, 12, 13), datetime.date(1996, 12, 12)),
 (10080, 54916, datetime.date(1994, 9, 28), datetime.date(1995, 9, 28)),
 (10081, 55786, datetime.date(1986, 10, 30), datetime.date(1987, 10, 30)),
 (10082, 48935, datetime.date(1990, 1, 3), datetime.date(1990, 1, 15)),
 (10083, 40000, datetime.date(1987, 3, 31), datetime.date(1988, 3, 30)),
 (10084, 69811, datetime.date(1995, 12, 15), datetime.date(1996, 12, 14)),
 (10085, 40000, datetime.date(1994, 4, 9), datetime.date(1995, 4, 9)),
 (10086, 81613, datetime.date(1992, 2, 19), datetime.date(1993, 2, 18)),
 (10087, 96750, datetime.date(1997, 5, 8), datetime.date(1998, 5, 8)),
 (10088, 65957, datetime.date(1988, 9, 2), datetime.date(1989, 9, 2)),
 (10089, 56469, datetime.date(1989, 1, 10), datetime.date(1990, 1, 10)),
 (10090, 44978, datetime.date(1986, 3, 14), datetime.date(1987, 3, 14)),
 (10091, 40000, datetime.date(1992, 11, 18), datetime.date(1993, 11, 18)),
 (10092, 53977, datetime.date(1996, 4, 22), datetime.date(1997, 4, 22)),
 (10093, 67856, datetime.date(1997, 6, 8), datetime.date(1998, 6, 8)),
 (10094, 58001, datetime.date(1987, 4, 18), datetime.date(1988, 4, 17)),
 (10095, 63668, datetime.date(1994, 3, 10), datetime.date(1995, 3, 10)),
 (10096, 61395, datetime.date(1999, 1, 23), datetime.date(2000, 1, 23)),
 (10097, 44886, datetime.date(1990, 9, 15), datetime.date(1991, 9, 15)),
 (10098, 40000, datetime.date(1985, 5, 13), datetime.date(1986, 5, 13)),
 (10099, 68781, datetime.date(1988, 10, 18), datetime.date(1989, 10, 18)),
 (10100, 54398, datetime.date(1987, 9, 21), datetime.date(1988, 9, 20)),
 (10101, 66591, datetime.date(1998, 10, 14), datetime.date(1999, 10, 14)),
 (10102, 44380, datetime.date(1995, 1, 2), datetime.date(1996, 1, 2)),
 (10103, 68158, datetime.date(1998, 1, 12), datetime.date(1999, 1, 12)),
 (10104, 45312, datetime.date(1987, 4, 16), datetime.date(1988, 4, 15)),
 (10105, 59258, datetime.date(1999, 5, 17), datetime.date(2000, 5, 16)),
 (10106, 62928, datetime.date(1991, 10, 27), datetime.date(1992, 10, 25)),
 (10107, 93159, datetime.date(1999, 3, 30), datetime.date(2000, 3, 29)),
 (10108, 40000, datetime.date(1999, 3, 20), datetime.date(2000, 3, 19)),
 (10109, 40000, datetime.date(1993, 6, 16), datetime.date(1994, 6, 16)),
 (10110, 46836, datetime.date(1986, 8, 22), datetime.date(1987, 8, 22)),
 (10111, 40000, datetime.date(1988, 12, 19), datetime.date(1989, 12, 19)),
 (10112, 49500, datetime.date(1998, 5, 1), datetime.date(1999, 5, 1)),
 (10113, 69856, datetime.date(1998, 9, 14), datetime.date(1999, 9, 14)),
 (10114, 49593, datetime.date(1992, 7, 17), datetime.date(1993, 7, 17)),
 (10115, 40000, datetime.date(1988, 3, 3), datetime.date(1989, 3, 3)),
 (10116, 44034, datetime.date(1994, 2, 27), datetime.date(1995, 2, 27)),
 (10117, 52284, datetime.date(1992, 3, 19), datetime.date(1993, 3, 19)),
 (10118, 40000, datetime.date(1992, 2, 2), datetime.date(1993, 2, 1)),
 (10119, 53551, datetime.date(1993, 12, 9), datetime.date(1994, 12, 9)),
 (10120, 46292, datetime.date(1996, 7, 6), datetime.date(1997, 7, 6)),
 (10121, 43772, datetime.date(1989, 5, 3), datetime.date(1990, 5, 3)),
 (10122, 42284, datetime.date(1998, 8, 6), datetime.date(1999, 8, 6)),
 (10123, 71524, datetime.date(1993, 1, 15), datetime.date(1994, 1, 15)),
 (10124, 40583, datetime.date(1991, 9, 5), datetime.date(1992, 9, 4)),
 (10125, 58249, datetime.date(1990, 10, 26), datetime.date(1991, 10, 26)),
 (10126, 40000, datetime.date(1985, 9, 8), datetime.date(1986, 9, 8)),
 (10127, 40000, datetime.date(1991, 5, 17), datetime.date(1992, 5, 16)),
 (10128, 40000, datetime.date(1988, 6, 6), datetime.date(1989, 6, 6)),
 (10129, 40000, datetime.date(1996, 1, 16), datetime.date(1997, 1, 15)),
 (10130, 40000, datetime.date(1988, 6, 21), datetime.date(1989, 6, 21)),
 (10131, 48475, datetime.date(1999, 9, 17), datetime.date(1999, 12, 6)),
 (10132, 61590, datetime.date(1997, 6, 18), datetime.date(1998, 6, 18)),
 (10133, 40000, datetime.date(1985, 12, 15), datetime.date(1986, 12, 15)),
 (10134, 40000, datetime.date(1987, 12, 12), datetime.date(1988, 12, 11)),
 (10135, 40000, datetime.date(1990, 1, 4), datetime.date(1991, 1, 4)),
 (10136, 82420, datetime.date(1988, 6, 13), datetime.date(1989, 6, 13)),
 (10137, 40000, datetime.date(1985, 2, 18), datetime.date(1986, 2, 18)),
 (10138, 53574, datetime.date(1992, 3, 3), datetime.date(1993, 3, 3)),
 (10139, 40000, datetime.date(1998, 3, 15), datetime.date(1999, 3, 15)),
 (10140, 61352, datetime.date(1991, 3, 14), datetime.date(1992, 3, 13)),
 (10141, 62907, datetime.date(1998, 7, 23), datetime.date(1999, 7, 23)),
 (10142, 40000, datetime.date(1993, 10, 28), datetime.date(1994, 10, 28)),
 (10143, 40000, datetime.date(1988, 9, 30), datetime.date(1989, 9, 30)),
 (10144, 56720, datetime.date(1985, 10, 14), datetime.date(1986, 10, 14)),
 (10145, 47612, datetime.date(1999, 11, 3), datetime.date(2000, 11, 2)),
 (10146, 60394, datetime.date(1988, 6, 28), datetime.date(1989, 6, 28)),
 (10147, 40000, datetime.date(1987, 12, 18), datetime.date(1988, 12, 17)),
 (10148, 63021, datetime.date(1996, 7, 15), datetime.date(1997, 7, 15)),
 (10149, 88740, datetime.date(1994, 1, 28), datetime.date(1995, 1, 28)),
 (10150, 70122, datetime.date(1986, 11, 16), datetime.date(1987, 11, 16)),
 (10151, 90741, datetime.date(1992, 12, 12), datetime.date(1993, 12, 12)),
 (10152, 40000, datetime.date(1986, 1, 27), datetime.date(1987, 1, 27)),
 (10153, 54246, datetime.date(2000, 1, 8), datetime.date(2001, 1, 7)),
 (10154, 40000, datetime.date(1996, 10, 23), datetime.date(1997, 10, 23)),
 (10155, 40040, datetime.date(1990, 1, 5), datetime.date(1991, 1, 5)),
 (10156, 49879, datetime.date(1993, 5, 14), datetime.date(1994, 5, 14)),
 (10157, 48770, datetime.date(1997, 12, 10), datetime.date(1998, 12, 10)),
 (10158, 40725, datetime.date(1987, 6, 4), datetime.date(1988, 6, 3)),
 (10159, 52881, datetime.date(1996, 6, 12), datetime.date(1997, 6, 12)),
 (10160, 91622, datetime.date(1993, 12, 6), datetime.date(1994, 12, 6)),
 (10161, 43149, datetime.date(1991, 6, 9), datetime.date(1992, 6, 8)),
 (10162, 40000, datetime.date(1998, 5, 27), datetime.date(1999, 5, 27)),
 (10163, 41603, datetime.date(1992, 2, 2), datetime.date(1993, 2, 1)),
 (10164, 52043, datetime.date(1990, 10, 19), datetime.date(1991, 10, 19)),
 (10165, 43991, datetime.date(1988, 5, 17), datetime.date(1989, 5, 17)),
 (10166, 51586, datetime.date(1996, 9, 2), datetime.date(1997, 9, 2)),
 (10167, 56990, datetime.date(1992, 4, 4), datetime.date(1993, 4, 4)),
 (10168, 51818, datetime.date(1986, 12, 6), datetime.date(1987, 12, 6)),
 (10169, 70303, datetime.date(1998, 6, 28), datetime.date(1999, 6, 28)),
 (10170, 47183, datetime.date(1986, 1, 2), datetime.date(1987, 1, 2)),
 (10171, 41311, datetime.date(1996, 8, 5), datetime.date(1997, 8, 5)),
 (10172, 41197, datetime.date(1998, 2, 4), datetime.date(1999, 2, 4)),
 (10173, 85757, datetime.date(1992, 3, 21), datetime.date(1993, 3, 21)),
 (10174, 59520, datetime.date(1987, 6, 1), datetime.date(1988, 5, 31)),
 (10175, 72285, datetime.date(1988, 9, 24), datetime.date(1989, 9, 24)),
 (10176, 54635, datetime.date(1994, 12, 22), datetime.date(1995, 12, 22)),
 (10177, 48041, datetime.date(1993, 2, 6), datetime.date(1994, 2, 6)),
 (10178, 50568, datetime.date(1994, 3, 21), datetime.date(1995, 3, 21)),
 (10179, 40000, datetime.date(2000, 1, 25), datetime.date(2001, 1, 24)),
 (10180, 52444, datetime.date(1994, 7, 1), datetime.date(1995, 7, 1)),
 (10181, 40000, datetime.date(1988, 6, 22), datetime.date(1989, 6, 22)),
 (10182, 40380, datetime.date(1990, 9, 2), datetime.date(1991, 9, 2)),
 (10183, 40000, datetime.date(1996, 8, 11), datetime.date(1997, 8, 11)),
 (10184, 48586, datetime.date(1997, 12, 26), datetime.date(1998, 12, 26)),
 (10185, 68334, datetime.date(1986, 3, 1), datetime.date(1987, 3, 1)),
 (10186, 40000, datetime.date(1996, 12, 25), datetime.date(1997, 8, 16)),
 (10187, 71454, datetime.date(1991, 6, 1), datetime.date(1992, 5, 31)),
 (10188, 62365, datetime.date(1987, 8, 27), datetime.date(1988, 8, 26)),
 (10189, 41222, datetime.date(1992, 9, 13), datetime.date(1993, 6, 29)),
 (10190, 40000, datetime.date(1986, 6, 23), datetime.date(1987, 6, 23)),
 (10191, 40000, datetime.date(1986, 4, 10), datetime.date(1987, 4, 10)),
 (10192, 40000, datetime.date(1988, 6, 13), datetime.date(1989, 6, 13)),
 (10193, 48733, datetime.date(1996, 9, 21), datetime.date(1997, 9, 21)),
 (10194, 64941, datetime.date(1997, 2, 14), datetime.date(1998, 2, 14)),
 (10195, 40000, datetime.date(1985, 2, 15), datetime.date(1986, 2, 15)),
 (10196, 86671, datetime.date(1999, 1, 31), datetime.date(2000, 1, 31)),
 (10197, 40000, datetime.date(1994, 6, 28), datetime.date(1995, 6, 28)),
 (10198, 44076, datetime.date(1985, 8, 31), datetime.date(1986, 8, 31)),
 (10199, 42042, datetime.date(1998, 2, 7), datetime.date(1999, 2, 7)),
 (10200, 46879, datetime.date(1994, 2, 17), datetime.date(1995, 2, 17)),
 (10201, 40000, datetime.date(1992, 11, 10), datetime.date(1993, 11, 10)),
 (10202, 47338, datetime.date(1991, 10, 6), datetime.date(1992, 10, 5)),
 (10203, 40000, datetime.date(1989, 4, 6), datetime.date(1990, 4, 6)),
 (10204, 40000, datetime.date(1998, 12, 18), datetime.date(1999, 3, 8)),
 (10205, 40000, datetime.date(1993, 8, 23), datetime.date(1994, 8, 23)),
 (10206, 40000, datetime.date(1988, 4, 19), datetime.date(1989, 4, 19)),
 (10207, 52783, datetime.date(1992, 10, 11), datetime.date(1993, 10, 11)),
 (10208, 61890, datetime.date(1995, 2, 5), datetime.date(1996, 2, 5)),
 (10209, 57996, datetime.date(1991, 11, 23), datetime.date(1992, 11, 22)),
 (10210, 40000, datetime.date(1996, 2, 24), datetime.date(1997, 2, 23)),
 (10211, 49032, datetime.date(1991, 11, 22), datetime.date(1992, 11, 21)),
 (10212, 65938, datetime.date(1996, 1, 28), datetime.date(1997, 1, 27)),
 (10213, 40000, datetime.date(1994, 10, 6), datetime.date(1995, 10, 6)),
 (10214, 58341, datetime.date(1988, 2, 29), datetime.date(1989, 2, 28)),
 (10215, 43944, datetime.date(1991, 11, 23), datetime.date(1992, 11, 22)),
 (10216, 40000, datetime.date(1987, 10, 30), datetime.date(1988, 10, 29)),
 (10217, 40000, datetime.date(1986, 5, 12), datetime.date(1987, 5, 12)),
 (10218, 40788, datetime.date(1997, 1, 31), datetime.date(1998, 1, 31)),
 (10219, 40000, datetime.date(1993, 3, 31), datetime.date(1994, 3, 31)),
 (10220, 58883, datetime.date(1997, 9, 16), datetime.date(1998, 9, 16)),
 (10221, 57821, datetime.date(1988, 6, 8), datetime.date(1989, 6, 8)),
 (10222, 40000, datetime.date(1986, 6, 8), datetime.date(1987, 6, 8)),
 (10223, 62922, datetime.date(1998, 4, 1), datetime.date(1999, 4, 1)),
 (10224, 40000, datetime.date(1988, 1, 9), datetime.date(1989, 1, 8)),
 (10225, 40000, datetime.date(1995, 12, 14), datetime.date(1996, 12, 13)),
 (10226, 79456, datetime.date(1996, 1, 29), datetime.date(1997, 1, 28)),
 (10227, 53497, datetime.date(1994, 11, 1), datetime.date(1995, 11, 1)),
 (10228, 79474, datetime.date(1992, 12, 22), datetime.date(1993, 12, 22)),
 (10229, 58321, datetime.date(1996, 2, 20), datetime.date(1997, 2, 19)),
 (10230, 47531, datetime.date(1996, 6, 16), datetime.date(1997, 6, 16)),
 (10231, 40000, datetime.date(1998, 9, 9), datetime.date(1999, 9, 9)),
 (10232, 89606, datetime.date(1992, 6, 4), datetime.date(1993, 6, 4)),
 (10233, 40000, datetime.date(1994, 4, 29), datetime.date(1995, 4, 29)),
 (10234, 84584, datetime.date(1990, 11, 19), datetime.date(1991, 11, 19)),
 (10235, 41941, datetime.date(1995, 4, 6), datetime.date(1996, 4, 4)),
 (10236, 80469, datetime.date(1996, 8, 30), datetime.date(1997, 8, 30)),
 (10237, 100715, datetime.date(1989, 8, 11), datetime.date(1990, 8, 11)),
 (10238, 52764, datetime.date(1995, 3, 31), datetime.date(1996, 3, 30)),
 (10239, 65146, datetime.date(1996, 5, 4), datetime.date(1997, 5, 4)),
 (10240, 73874, datetime.date(1998, 10, 6), datetime.date(1999, 10, 6)),
 (10241, 40000, datetime.date(1988, 6, 12), datetime.date(1989, 6, 12)),
 (10242, 40000, datetime.date(1988, 1, 18), datetime.date(1989, 1, 17)),
 (10243, 59332, datetime.date(1986, 6, 7), datetime.date(1987, 6, 7)),
 (10244, 56292, datetime.date(1999, 9, 16), datetime.date(2000, 9, 15)),
 (10245, 40000, datetime.date(1994, 4, 21), datetime.date(1995, 2, 20)),
 (10246, 40000, datetime.date(1991, 2, 1), datetime.date(1992, 2, 1)),
 (10247, 40000, datetime.date(1992, 8, 14), datetime.date(1993, 8, 14)),
 (10248, 58918, datetime.date(1991, 8, 13), datetime.date(1992, 8, 12)),
 (10249, 72192, datetime.date(1991, 12, 8), datetime.date(1992, 12, 7)),
 (10250, 50330, datetime.date(1992, 8, 30), datetime.date(1993, 8, 30)),
 (10251, 61743, datetime.date(1992, 6, 25), datetime.date(1993, 6, 25)),
 (10252, 40000, datetime.date(1990, 11, 8), datetime.date(1991, 11, 8)),
 (10253, 62494, datetime.date(1985, 2, 21), datetime.date(1986, 2, 21)),
 (10254, 60222, datetime.date(1990, 6, 14), datetime.date(1991, 6, 14)),
 (10255, 63822, datetime.date(1993, 5, 12), datetime.date(1994, 5, 12)),
 (10256, 71305, datetime.date(1985, 10, 12), datetime.date(1986, 10, 12)),
 (10257, 40000, datetime.date(1997, 7, 16), datetime.date(1998, 7, 16)),
 (10258, 66280, datetime.date(1985, 5, 17), datetime.date(1986, 5, 17)),
 (10259, 88991, datetime.date(1987, 7, 25), datetime.date(1988, 7, 24)),
 (10260, 60879, datetime.date(1993, 2, 1), datetime.date(1994, 2, 1)),
 (10261, 40000, datetime.date(1996, 9, 11), datetime.date(1997, 9, 11)),
 (10262, 63005, datetime.date(1996, 1, 22), datetime.date(1997, 1, 21)),
 (10263, 67883, datetime.date(1996, 12, 21), datetime.date(1997, 12, 21)),
 (10264, 60522, datetime.date(1997, 7, 16), datetime.date(1998, 7, 16)),
 (10265, 46382, datetime.date(1997, 9, 12), datetime.date(1998, 9, 12)),
 (10266, 47093, datetime.date(1990, 5, 25), datetime.date(1991, 5, 25)),
 (10267, 40000, datetime.date(1997, 4, 26), datetime.date(1998, 4, 26)),
 (10268, 41017, datetime.date(1986, 12, 17), datetime.date(1987, 12, 17)),
 (10269, 40000, datetime.date(1988, 7, 24), datetime.date(1989, 7, 24)),
 (10270, 42081, datetime.date(1991, 9, 26), datetime.date(1992, 9, 25)),
 (10271, 53680, datetime.date(1986, 5, 23), datetime.date(1987, 5, 23)),
 (10272, 58070, datetime.date(1997, 10, 23), datetime.date(1998, 10, 23)),
 (10273, 75148, datetime.date(1985, 11, 6), datetime.date(1986, 11, 6)),
 (10274, 86164, datetime.date(1997, 2, 2), datetime.date(1998, 2, 2)),

In [14]:
#3. Create a bar chart of average salary by title.
cur.execute("SELECT * FROM titles")
rows = cur.fetchall()
rows

[(10001,
  'Senior Engineer',
  datetime.date(1986, 6, 26),
  datetime.date(9999, 1, 1)),
 (10002, 'Staff', datetime.date(1996, 8, 3), datetime.date(9999, 1, 1)),
 (10003,
  'Senior Engineer',
  datetime.date(1995, 12, 3),
  datetime.date(9999, 1, 1)),
 (10004, 'Engineer', datetime.date(1986, 12, 1), datetime.date(1995, 12, 1)),
 (10004,
  'Senior Engineer',
  datetime.date(1995, 12, 1),
  datetime.date(9999, 1, 1)),
 (10005,
  'Senior Staff',
  datetime.date(1996, 9, 12),
  datetime.date(9999, 1, 1)),
 (10005, 'Staff', datetime.date(1989, 9, 12), datetime.date(1996, 9, 12)),
 (10006,
  'Senior Engineer',
  datetime.date(1990, 8, 5),
  datetime.date(9999, 1, 1)),
 (10007,
  'Senior Staff',
  datetime.date(1996, 2, 11),
  datetime.date(9999, 1, 1)),
 (10007, 'Staff', datetime.date(1989, 2, 10), datetime.date(1996, 2, 11)),
 (10008,
  'Assistant Engineer',
  datetime.date(1998, 3, 11),
  datetime.date(2000, 7, 31)),
 (10009,
  'Assistant Engineer',
  datetime.date(1985, 2, 18),
  datetime.date(1990, 2, 18)),
 (10009, 'Engineer', datetime.date(1990, 2, 18), datetime.date(1995, 2, 18)),
 (10009,
  'Senior Engineer',
  datetime.date(1995, 2, 18),
  datetime.date(9999, 1, 1)),
 (10010, 'Engineer', datetime.date(1996, 11, 24), datetime.date(9999, 1, 1)),
 (10011, 'Staff', datetime.date(1990, 1, 22), datetime.date(1996, 11, 9)),
 (10012, 'Engineer', datetime.date(1992, 12, 18), datetime.date(2000, 12, 18)),
 (10012,
  'Senior Engineer',
  datetime.date(2000, 12, 18),
  datetime.date(9999, 1, 1)),
 (10013,
  'Senior Staff',
  datetime.date(1985, 10, 20),
  datetime.date(9999, 1, 1)),
 (10014, 'Engineer', datetime.date(1993, 12, 29), datetime.date(9999, 1, 1)),
 (10015,
  'Senior Staff',
  datetime.date(1992, 9, 19),
  datetime.date(1993, 8, 22)),
 (10016, 'Staff', datetime.date(1998, 2, 11), datetime.date(9999, 1, 1)),
 (10017, 'Senior Staff', datetime.date(2000, 8, 3), datetime.date(9999, 1, 1)),
 (10017, 'Staff', datetime.date(1993, 8, 3), datetime.date(2000, 8, 3)),
 (10018, 'Engineer', datetime.date(1987, 4, 3), datetime.date(1995, 4, 3)),
 (10018,
  'Senior Engineer',
  datetime.date(1995, 4, 3),
  datetime.date(9999, 1, 1)),
 (10019, 'Staff', datetime.date(1999, 4, 30), datetime.date(9999, 1, 1)),
 (10020, 'Engineer', datetime.date(1997, 12, 30), datetime.date(9999, 1, 1)),
 (10021,
  'Technique Leader',
  datetime.date(1988, 2, 10),
  datetime.date(2002, 7, 15)),
 (10022, 'Engineer', datetime.date(1999, 9, 3), datetime.date(9999, 1, 1)),
 (10023, 'Engineer', datetime.date(1999, 9, 27), datetime.date(9999, 1, 1)),
 (10024,
  'Assistant Engineer',
  datetime.date(1998, 6, 14),
  datetime.date(9999, 1, 1)),
 (10025,
  'Technique Leader',
  datetime.date(1987, 8, 17),
  datetime.date(1997, 10, 15)),
 (10026, 'Engineer', datetime.date(1995, 3, 20), datetime.date(2001, 3, 19)),
 (10026,
  'Senior Engineer',
  datetime.date(2001, 3, 19),
  datetime.date(9999, 1, 1)),
 (10027, 'Engineer', datetime.date(1995, 4, 2), datetime.date(2001, 4, 1)),
 (10027,
  'Senior Engineer',
  datetime.date(2001, 4, 1),
  datetime.date(9999, 1, 1)),
 (10028, 'Engineer', datetime.date(1991, 10, 22), datetime.date(1998, 4, 6)),
 (10029, 'Engineer', datetime.date(1991, 9, 18), datetime.date(2000, 9, 17)),
 (10029,
  'Senior Engineer',
  datetime.date(2000, 9, 17),
  datetime.date(9999, 1, 1)),
 (10030, 'Engineer', datetime.date(1994, 2, 17), datetime.date(2001, 2, 17)),
 (10030,
  'Senior Engineer',
  datetime.date(2001, 2, 17),
  datetime.date(9999, 1, 1)),
 (10031, 'Engineer', datetime.date(1991, 9, 1), datetime.date(1998, 9, 1)),
 (10031,
  'Senior Engineer',
  datetime.date(1998, 9, 1),
  datetime.date(9999, 1, 1)),
 (10032, 'Engineer', datetime.date(1990, 6, 20), datetime.date(1995, 6, 20)),
 (10032,
  'Senior Engineer',
  datetime.date(1995, 6, 20),
  datetime.date(9999, 1, 1)),
 (10033,
  'Technique Leader',
  datetime.date(1987, 3, 18),
  datetime.date(1993, 3, 24)),
 (10034, 'Staff', datetime.date(1995, 4, 12), datetime.date(1999, 10, 31)),
 (10035, 'Engineer', datetime.date(1988, 9, 5), datetime.date(1996, 9, 5)),
 (10035,
  'Senior Engineer',
  datetime.date(1996, 9, 5),
  datetime.date(9999, 1, 1)),
 (10036,
  'Senior Staff',
  datetime.date(1992, 4, 28),
  datetime.date(9999, 1, 1)),
 (10037, 'Engineer', datetime.date(1990, 12, 5), datetime.date(1995, 12, 5)),
 (10037,
  'Senior Engineer',
  datetime.date(1995, 12, 5),
  datetime.date(9999, 1, 1)),
 (10038,
  'Senior Staff',
  datetime.date(1996, 9, 20),
  datetime.date(9999, 1, 1)),
 (10038, 'Staff', datetime.date(1989, 9, 20), datetime.date(1996, 9, 20)),
 (10039,
  'Senior Staff',
  datetime.date(1997, 1, 18),
  datetime.date(9999, 1, 1)),
 (10039, 'Staff', datetime.date(1988, 1, 19), datetime.date(1997, 1, 18)),
 (10040, 'Engineer', datetime.date(1993, 2, 14), datetime.date(1999, 2, 14)),
 (10040,
  'Senior Engineer',
  datetime.date(1999, 2, 14),
  datetime.date(9999, 1, 1)),
 (10041,
  'Senior Staff',
  datetime.date(1998, 11, 12),
  datetime.date(9999, 1, 1)),
 (10041, 'Staff', datetime.date(1989, 11, 12), datetime.date(1998, 11, 12)),
 (10042,
  'Senior Staff',
  datetime.date(2000, 3, 21),
  datetime.date(2000, 8, 10)),
 (10042, 'Staff', datetime.date(1993, 3, 21), datetime.date(2000, 3, 21)),
 (10043, 'Engineer', datetime.date(1990, 10, 20), datetime.date(1997, 10, 20)),
 (10043,
  'Senior Engineer',
  datetime.date(1997, 10, 20),
  datetime.date(9999, 1, 1)),
 (10044,
  'Technique Leader',
  datetime.date(1994, 5, 21),
  datetime.date(9999, 1, 1)),
 (10045, 'Engineer', datetime.date(1996, 11, 16), datetime.date(9999, 1, 1)),
 (10046,
  'Senior Staff',
  datetime.date(2000, 6, 20),
  datetime.date(9999, 1, 1)),
 (10046, 'Staff', datetime.date(1992, 6, 20), datetime.date(2000, 6, 20)),
 (10047, 'Engineer', datetime.date(1989, 3, 31), datetime.date(1998, 3, 31)),
 (10047,
  'Senior Engineer',
  datetime.date(1998, 3, 31),
  datetime.date(9999, 1, 1)),
 (10048, 'Engineer', datetime.date(1985, 2, 24), datetime.date(1987, 1, 27)),
 (10049, 'Senior Staff', datetime.date(2000, 5, 4), datetime.date(9999, 1, 1)),
 (10049, 'Staff', datetime.date(1992, 5, 4), datetime.date(2000, 5, 4)),
 (10050,
  'Senior Staff',
  datetime.date(1999, 12, 25),
  datetime.date(9999, 1, 1)),
 (10050, 'Staff', datetime.date(1990, 12, 25), datetime.date(1999, 12, 25)),
 (10051, 'Engineer', datetime.date(1992, 10, 15), datetime.date(1998, 10, 15)),
 (10051,
  'Senior Engineer',
  datetime.date(1998, 10, 15),
  datetime.date(9999, 1, 1)),
 (10052,
  'Senior Staff',
  datetime.date(2002, 1, 31),
  datetime.date(9999, 1, 1)),
 (10052, 'Staff', datetime.date(1997, 1, 31), datetime.date(2002, 1, 31)),
 (10053,
  'Senior Staff',
  datetime.date(1994, 11, 13),
  datetime.date(9999, 1, 1)),
 (10054,
  'Senior Staff',
  datetime.date(2000, 7, 28),
  datetime.date(9999, 1, 1)),
 (10054, 'Staff', datetime.date(1995, 7, 29), datetime.date(2000, 7, 28)),
 (10055, 'Staff', datetime.date(1992, 4, 27), datetime.date(1995, 7, 22)),
 (10056, 'Engineer', datetime.date(1990, 2, 1), datetime.date(1999, 2, 1)),
 (10056,
  'Senior Engineer',
  datetime.date(1999, 2, 1),
  datetime.date(9999, 1, 1)),
 (10057, 'Engineer', datetime.date(1992, 1, 15), datetime.date(2000, 1, 15)),
 (10057,
  'Senior Engineer',
  datetime.date(2000, 1, 15),
  datetime.date(9999, 1, 1)),
 (10058,
  'Senior Staff',
  datetime.date(1988, 4, 25),
  datetime.date(9999, 1, 1)),
 (10059,
  'Senior Staff',
  datetime.date(1991, 6, 26),
  datetime.date(9999, 1, 1)),
 (10060,
  'Senior Staff',
  datetime.date(1996, 5, 28),
  datetime.date(9999, 1, 1)),
 (10060, 'Staff', datetime.date(1989, 5, 28), datetime.date(1996, 5, 28)),
 (10061,
  'Senior Staff',
  datetime.date(1989, 12, 2),
  datetime.date(9999, 1, 1)),
 (10062, 'Engineer', datetime.date(1991, 8, 30), datetime.date(1999, 8, 30)),
 (10062,
  'Senior Engineer',
  datetime.date(1999, 8, 30),
  datetime.date(9999, 1, 1)),
 (10063,
  'Senior Engineer',
  datetime.date(1989, 4, 8),
  datetime.date(9999, 1, 1)),
 (10064, 'Staff', datetime.date(1985, 11, 20), datetime.date(1992, 3, 2)),
 (10065, 'Engineer', datetime.date(1998, 5, 24), datetime.date(9999, 1, 1)),
 (10066,
  'Assistant Engineer',
  datetime.date(1986, 2, 26),
  datetime.date(1992, 2, 26)),
 (10066, 'Engineer', datetime.date(1992, 2, 26), datetime.date(1998, 2, 25)),
 (10066,
  'Senior Engineer',
  datetime.date(1998, 2, 25),
  datetime.date(9999, 1, 1)),
 (10067, 'Engineer', datetime.date(1987, 3, 4), datetime.date(1996, 3, 3)),
 (10067,
  'Senior Engineer',
  datetime.date(1996, 3, 3),
  datetime.date(9999, 1, 1)),
 (10068, 'Senior Staff', datetime.date(1996, 8, 6), datetime.date(9999, 1, 1)),
 (10068, 'Staff', datetime.date(1987, 8, 7), datetime.date(1996, 8, 6)),
 (10069,
  'Technique Leader',
  datetime.date(1992, 6, 14),
  datetime.date(9999, 1, 1)),
 (10070,
  'Technique Leader',
  datetime.date(1985, 10, 14),
  datetime.date(9999, 1, 1)),
 (10071, 'Staff', datetime.date(1995, 8, 5), datetime.date(9999, 1, 1)),
 (10072, 'Engineer', datetime.date(1989, 5, 21), datetime.date(1995, 5, 21)),
 (10072,
  'Senior Engineer',
  datetime.date(1995, 5, 21),
  datetime.date(9999, 1, 1)),
 (10073, 'Engineer', datetime.date(1998, 2, 2), datetime.date(1998, 2, 22)),
 (10074,
  'Technique Leader',
  datetime.date(1990, 8, 13),
  datetime.date(9999, 1, 1)),
 (10075,
  'Senior Engineer',
  datetime.date(1988, 5, 17),
  datetime.date(2001, 1, 15)),
 (10076,
  'Senior Engineer',
  datetime.date(1996, 7, 15),
  datetime.date(9999, 1, 1)),
 (10077, 'Staff', datetime.date(1994, 12, 23), datetime.date(9999, 1, 1)),
 (10078, 'Engineer', datetime.date(1994, 9, 29), datetime.date(9999, 1, 1)),
 (10079,
  'Technique Leader',
  datetime.date(1995, 12, 13),
  datetime.date(9999, 1, 1)),
 (10080,
  'Senior Staff',
  datetime.date(2001, 9, 28),
  datetime.date(9999, 1, 1)),
 (10080, 'Staff', datetime.date(1994, 9, 28), datetime.date(2001, 9, 28)),
 (10081, 'Engineer', datetime.date(1986, 10, 30), datetime.date(1991, 10, 30)),
 (10081,
  'Senior Engineer',
  datetime.date(1991, 10, 30),
  datetime.date(9999, 1, 1)),
 (10082, 'Staff', datetime.date(1990, 1, 3), datetime.date(1990, 1, 15)),
 (10083, 'Engineer', datetime.date(1987, 3, 31), datetime.date(1994, 3, 31)),
 (10083,
  'Senior Engineer',
  datetime.date(1994, 3, 31),
  datetime.date(9999, 1, 1)),
 (10084, 'Engineer', datetime.date(1995, 12, 15), datetime.date(2001, 12, 14)),
 (10084,
  'Senior Engineer',
  datetime.date(2001, 12, 14),
  datetime.date(9999, 1, 1)),
 (10085,
  'Senior Engineer',
  datetime.date(1994, 4, 9),
  datetime.date(9999, 1, 1)),
 (10086,
  'Senior Staff',
  datetime.date(1999, 2, 19),
  datetime.date(9999, 1, 1)),
 (10086, 'Staff', datetime.date(1992, 2, 19), datetime.date(1999, 2, 19)),
 (10087, 'Staff', datetime.date(1997, 5, 8), datetime.date(2001, 1, 9)),
 (10088, 'Senior Staff', datetime.date(1993, 9, 2), datetime.date(9999, 1, 1)),
 (10088, 'Staff', datetime.date(1988, 9, 2), datetime.date(1993, 9, 2)),
 (10089,
  'Senior Staff',
  datetime.date(1996, 1, 11),
  datetime.date(9999, 1, 1)),
 (10089, 'Staff', datetime.date(1989, 1, 10), datetime.date(1996, 1, 11)),
 (10090,
  'Senior Engineer',
  datetime.date(1986, 3, 14),
  datetime.date(1999, 5, 7)),
 (10091, 'Engineer', datetime.date(1992, 11, 18), datetime.date(2001, 11, 18)),
 (10091,
  'Senior Engineer',
  datetime.date(2001, 11, 18),
  datetime.date(9999, 1, 1)),
 (10092, 'Engineer', datetime.date(1996, 4, 22), datetime.date(9999, 1, 1)),
 (10093, 'Staff', datetime.date(1997, 6, 8), datetime.date(9999, 1, 1)),
 (10094,
  'Senior Staff',
  datetime.date(1987, 4, 18),
  datetime.date(1997, 11, 8)),
 (10095, 'Senior Staff', datetime.date(2000, 3, 9), datetime.date(9999, 1, 1)),
 (10095, 'Staff', datetime.date(1994, 3, 10), datetime.date(2000, 3, 9)),
 (10096, 'Engineer', datetime.date(1999, 1, 23), datetime.date(9999, 1, 1)),
 (10097,
  'Senior Staff',
  datetime.date(1996, 9, 14),
  datetime.date(9999, 1, 1)),
 (10097, 'Staff', datetime.date(1990, 9, 15), datetime.date(1996, 9, 14)),
 (10098, 'Engineer', datetime.date(1985, 5, 13), datetime.date(1992, 5, 13)),
 (10098,
  'Senior Engineer',
  datetime.date(1992, 5, 13),
  datetime.date(1992, 12, 11)),
 (10099,
  'Senior Staff',
  datetime.date(1995, 10, 19),
  datetime.date(9999, 1, 1)),
 (10099, 'Staff', datetime.date(1988, 10, 18), datetime.date(1995, 10, 19)),
 (10100,
  'Senior Staff',
  datetime.date(1994, 9, 21),
  datetime.date(9999, 1, 1)),
 (10100, 'Staff', datetime.date(1987, 9, 21), datetime.date(1994, 9, 21)),
 (10101, 'Staff', datetime.date(1998, 10, 14), datetime.date(2000, 9, 23)),
 (10102,
  'Assistant Engineer',
  datetime.date(1995, 1, 2),
  datetime.date(2002, 1, 2)),
 (10102, 'Engineer', datetime.date(2002, 1, 2), datetime.date(9999, 1, 1)),
 (10103, 'Engineer', datetime.date(1998, 1, 12), datetime.date(9999, 1, 1)),
 (10104,
  'Senior Staff',
  datetime.date(1987, 4, 16),
  datetime.date(9999, 1, 1)),
 (10105, 'Staff', datetime.date(1999, 5, 17), datetime.date(2001, 6, 11)),
 (10106, 'Engineer', datetime.date(1991, 10, 27), datetime.date(1997, 10, 26)),
 (10106,
  'Senior Engineer',
  datetime.date(1997, 10, 26),
  datetime.date(9999, 1, 1)),
 (10107,
  'Senior Staff',
  datetime.date(1999, 3, 30),
  datetime.date(9999, 1, 1)),
 (10108, 'Staff', datetime.date(1999, 3, 20), datetime.date(2001, 10, 20)),
 (10109, 'Engineer', datetime.date(1993, 6, 16), datetime.date(2001, 6, 16)),
 (10109,
  'Senior Engineer',
  datetime.date(2001, 6, 16),
  datetime.date(9999, 1, 1)),
 (10110,
  'Senior Staff',
  datetime.date(1992, 8, 21),
  datetime.date(9999, 1, 1)),
 (10110, 'Staff', datetime.date(1986, 8, 22), datetime.date(1992, 8, 21)),
 (10111, 'Engineer', datetime.date(1988, 12, 19), datetime.date(1996, 12, 19)),
 (10111,
  'Senior Engineer',
  datetime.date(1996, 12, 19),
  datetime.date(9999, 1, 1)),
 (10112, 'Staff', datetime.date(1998, 5, 1), datetime.date(9999, 1, 1)),
 (10113, 'Engineer', datetime.date(1998, 9, 14), datetime.date(9999, 1, 1)),
 (10114,
  'Senior Staff',
  datetime.date(1999, 7, 18),
  datetime.date(9999, 1, 1)),
 (10114, 'Staff', datetime.date(1992, 7, 17), datetime.date(1999, 7, 18)),
 (10115, 'Staff', datetime.date(1988, 3, 3), datetime.date(1992, 5, 24)),
 (10116,
  'Senior Engineer',
  datetime.date(1994, 2, 27),
  datetime.date(1998, 11, 1)),
 (10117,
  'Senior Engineer',
  datetime.date(1992, 3, 19),
  datetime.date(9999, 1, 1)),
 (10118,
  'Senior Engineer',
  datetime.date(1992, 2, 2),
  datetime.date(9999, 1, 1)),
 (10119, 'Engineer', datetime.date(1993, 12, 9), datetime.date(1997, 10, 30)),
 (10120, 'Engineer', datetime.date(1996, 7, 6), datetime.date(9999, 1, 1)),
 (10121, 'Engineer', datetime.date(1989, 5, 3), datetime.date(1996, 5, 3)),
 (10121,
  'Senior Engineer',
  datetime.date(1996, 5, 3),
  datetime.date(9999, 1, 1)),
 (10122,
  'Technique Leader',
  datetime.date(1998, 8, 6),
  datetime.date(9999, 1, 1)),
 (10123,
  'Assistant Engineer',
  datetime.date(1993, 1, 15),
  datetime.date(1999, 1, 15)),
 (10123, 'Engineer', datetime.date(1999, 1, 15), datetime.date(9999, 1, 1)),
 (10124, 'Engineer', datetime.date(1991, 9, 5), datetime.date(1998, 9, 5)),
 (10124,
  'Senior Engineer',
  datetime.date(1998, 9, 5),
  datetime.date(9999, 1, 1)),
 (10125, 'Staff', datetime.date(1990, 10, 26), datetime.date(1996, 3, 25)),
 (10126, 'Senior Staff', datetime.date(1991, 9, 8), datetime.date(9999, 1, 1)),
 (10126, 'Staff', datetime.date(1985, 9, 8), datetime.date(1991, 9, 8)),
 (10127,
  'Senior Engineer',
  datetime.date(1991, 5, 17),
  datetime.date(9999, 1, 1)),
 (10128, 'Senior Staff', datetime.date(1995, 6, 7), datetime.date(9999, 1, 1)),
 (10128, 'Staff', datetime.date(1988, 6, 6), datetime.date(1995, 6, 7)),
 (10129,
  'Technique Leader',
  datetime.date(1996, 1, 16),
  datetime.date(9999, 1, 1)),
 (10130,
  'Senior Engineer',
  datetime.date(1988, 6, 21),
  datetime.date(9999, 1, 1)),
 (10131, 'Engineer', datetime.date(1999, 9, 17), datetime.date(1999, 12, 6)),
 (10132, 'Staff', datetime.date(1997, 6, 18), datetime.date(9999, 1, 1)),
 (10133, 'Engineer', datetime.date(1985, 12, 15), datetime.date(1991, 12, 15)),
 (10133,
  'Senior Engineer',
  datetime.date(1991, 12, 15),
  datetime.date(9999, 1, 1)),
 (10134, 'Engineer', datetime.date(1987, 12, 12), datetime.date(1994, 12, 12)),
 (10134,
  'Senior Engineer',
  datetime.date(1994, 12, 12),
  datetime.date(9999, 1, 1)),
 (10135,
  'Assistant Engineer',
  datetime.date(1990, 1, 4),
  datetime.date(1999, 1, 4)),
 (10135, 'Engineer', datetime.date(1999, 1, 4), datetime.date(9999, 1, 1)),
 (10136,
  'Senior Staff',
  datetime.date(1997, 6, 13),
  datetime.date(1999, 9, 20)),
 (10136, 'Staff', datetime.date(1988, 6, 13), datetime.date(1997, 6, 13)),
 (10137,
  'Senior Staff',
  datetime.date(1994, 2, 18),
  datetime.date(9999, 1, 1)),
 (10137, 'Staff', datetime.date(1985, 2, 18), datetime.date(1994, 2, 18)),
 (10138, 'Engineer', datetime.date(1992, 3, 3), datetime.date(2001, 3, 3)),
 (10138,
  'Senior Engineer',
  datetime.date(2001, 3, 3),
  datetime.date(9999, 1, 1)),
 (10139, 'Engineer', datetime.date(1998, 3, 15), datetime.date(9999, 1, 1)),
 (10140,
  'Senior Staff',
  datetime.date(1998, 3, 14),
  datetime.date(9999, 1, 1)),
 (10140, 'Staff', datetime.date(1991, 3, 14), datetime.date(1998, 3, 14)),
 (10141,
  'Senior Staff',
  datetime.date(1998, 7, 23),
  datetime.date(9999, 1, 1)),
 (10142, 'Engineer', datetime.date(1993, 10, 28), datetime.date(2001, 10, 28)),
 (10142,
  'Senior Engineer',
  datetime.date(2001, 10, 28),
  datetime.date(9999, 1, 1)),
 (10143, 'Engineer', datetime.date(1988, 9, 30), datetime.date(1993, 9, 30)),
 (10143,
  'Senior Engineer',
  datetime.date(1993, 9, 30),
  datetime.date(9999, 1, 1)),
 (10144,
  'Senior Staff',
  datetime.date(1992, 10, 14),
  datetime.date(1993, 8, 10)),
 (10144, 'Staff', datetime.date(1985, 10, 14), datetime.date(1992, 10, 14)),
 (10145, 'Engineer', datetime.date(1999, 11, 3), datetime.date(9999, 1, 1)),
 (10146, 'Staff', datetime.date(1988, 6, 28), datetime.date(1990, 9, 7)),
 (10147,
  'Senior Staff',
  datetime.date(1995, 12, 18),
  datetime.date(9999, 1, 1)),
 (10147, 'Staff', datetime.date(1987, 12, 18), datetime.date(1995, 12, 18)),
 (10148, 'Staff', datetime.date(1996, 7, 15), datetime.date(9999, 1, 1)),
 (10149, 'Staff', datetime.date(1994, 1, 28), datetime.date(1996, 8, 27)),
 (10150, 'Engineer', datetime.date(1986, 11, 16), datetime.date(1995, 11, 16)),
 (10150,
  'Senior Engineer',
  datetime.date(1995, 11, 16),
  datetime.date(9999, 1, 1)),
 (10151,
  'Senior Staff',
  datetime.date(1997, 12, 12),
  datetime.date(9999, 1, 1)),
 (10151, 'Staff', datetime.date(1992, 12, 12), datetime.date(1997, 12, 12)),
 (10152, 'Engineer', datetime.date(1986, 1, 27), datetime.date(1987, 8, 3)),
 (10153,
  'Assistant Engineer',
  datetime.date(2000, 1, 8),
  datetime.date(9999, 1, 1)),
 (10154, 'Staff', datetime.date(1996, 10, 23), datetime.date(9999, 1, 1)),
 (10155, 'Senior Staff', datetime.date(1996, 1, 5), datetime.date(9999, 1, 1)),
 (10155, 'Staff', datetime.date(1990, 1, 5), datetime.date(1996, 1, 5)),
 (10156, 'Engineer', datetime.date(1993, 5, 14), datetime.date(2001, 5, 14)),
 (10156,
  'Senior Engineer',
  datetime.date(2001, 5, 14),
  datetime.date(9999, 1, 1)),
 (10157,
  'Senior Engineer',
  datetime.date(1997, 12, 10),
  datetime.date(9999, 1, 1)),
 (10158, 'Engineer', datetime.date(1987, 6, 4), datetime.date(1996, 6, 3)),
 (10158,
  'Senior Engineer',
  datetime.date(1996, 6, 3),
  datetime.date(9999, 1, 1)),
 (10159,
  'Senior Engineer',
  datetime.date(1996, 6, 12),
  datetime.date(9999, 1, 1)),
 (10160,
  'Senior Staff',
  datetime.date(2000, 12, 6),
  datetime.date(9999, 1, 1)),
 (10160, 'Staff', datetime.date(1993, 12, 6), datetime.date(2000, 12, 6)),
 (10161, 'Engineer', datetime.date(1991, 6, 9), datetime.date(1994, 1, 5)),
 (10162, 'Engineer', datetime.date(1998, 5, 27), datetime.date(9999, 1, 1)),
 (10163, 'Senior Staff', datetime.date(1992, 2, 2), datetime.date(9999, 1, 1)),

In [ ]:
df = pd.DataFrame(rows, columns=['title', 'emp_no', 'from_date', 'to_date'])
df.set_index('title', inplace=True)
df.plot.bar()
plt.tight_layout()
plt.show()

KeyboardInterrupt: